frr version 9.0.1_git
frr defaults datacenter
no ipv6 forwarding
service integrated-vtysh-config

ip prefix-list loopback seq 5 permit 10.16.0.0/8 le 32
ip prefix-list pod-cidr seq 5 permit 10.244.0.0/16 le 24

allow-reserved-ranges

route-map import-connected permit 10
  match interface lo

route-map export-kernel permit 10
  match ip address prefix-list loopback
  set src {{ loopback }}

route-map to-leaf permit 10
  match ip address prefix-list loopback
route-map to-leaf permit 20
  match ip address prefix-list pod-cidr

route-map from-cilium permit 10
  set ip next-hop {{ loopback }}

ip protocol bgp route-map export-kernel

router bgp {{ asn }}
  bgp router-id {{ loopback }}
  bgp bestpath as-path multipath-relax
  bgp allow-martian-nexthop
  neighbor leaf peer-group
  neighbor eth1 interface peer-group leaf
  neighbor eth2 interface peer-group leaf
  neighbor leaf remote-as external
  neighbor 127.0.0.1 remote-as 65512
  neighbor 127.0.0.1 local-as 65128
  neighbor 127.0.0.1 passive
  address-family ipv4 unicast
    redistribute connected route-map import-connected
    neighbor leaf soft-reconfiguration inbound
    neighbor leaf route-map to-leaf out
    neighbor 127.0.0.1 soft-reconfiguration inbound
    neighbor 127.0.0.1 route-map from-cilium in
